* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image:
    linear-gradient(to left, rgb(0, 0, 0), transparent),
    url("./img/wst_bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

/* divider design tools */
.custom-shape-divider-bottom-1770161689 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1770161689 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 147px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1770161689 .shape-fill {
  fill: #ffffff;
}

@media (max-width: 767px) {
  .custom-shape-divider-bottom-1770161689 svg {
    width: calc(100% + 1.3px);
    height: 118px;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  height: 40px;
}

.logo img {
  width: auto;
  height: 100%;
}

.logo h3 {
  color: white;
  font-style: italic;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-link a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

.nav-link a:hover {
  color: gold;
  border-bottom: 1px solid gold;
  transform: scale(1.2);
}

.webname {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
  gap: 15px;
  animation-name: mainPage;
  animation-duration: 1.6s;
  position: relative;
}

.webname h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  padding-top: 10px;
  letter-spacing: 2px;
}

@keyframes mainPage {
  0% {
    opacity: 0;
    top: 0px;
  }

  25% {
    opacity: 0;
    top: 50px;
  }
  50% {
    opacity: 0;
    top: 90px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

h1::first-letter {
  font-size: 45px;
  font-style: italic;
  color: gold;
}

.webname h3 {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}
.btn-link {
  display: flex;
  gap: 8px;
  align-items: center;
}

.explore-btn {
  background-color: rgb(89, 59, 3);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}
.explore-btn:hover {
  background-color: rgb(125, 82, 3);
}

.learnmore {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.learnmore:hover {
  border-bottom: 1px solid gold;
}

/* home */
.home {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column;
}

.caps-text {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.text-head {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.text-head h2 {
  font-size: 30px;
  font-family: serif;
  font-weight: bold;
}
.culinary {
  color: rgb(112, 96, 7);
}

.caps-text p {
  font-family: monospace;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: rgb(87, 87, 87);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
  padding: 10px 20px;
}

/* cur-recipe */
.cur-recipe {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 20px 20px;
  border-radius: 3px;
  background-color: rgb(242, 242, 242);
}
.cur-recipe p {
  color: rgb(87, 87, 87);
}
/* ex-tips */
.ex-tips {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 20px 20px;
  border-radius: 3px;
  background-color: rgb(242, 242, 242);
}
.ex-tips p {
  color: rgb(87, 87, 87);
}
/* quick */
.quick {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 20px 20px;
  border-radius: 3px;
  background-color: rgb(242, 242, 242);
}
.quick p {
  color: rgb(87, 87, 87);
}

/* about */
.about {
  background-color: rgb(40, 40, 40);
  height: 150vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-area: 20px;
}

.about-tastique {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px;
  width: 40%;
  animation-name: aboutTastique;
  animation-duration: 1s;
  position: relative;
}

@keyframes aboutTastique {
  0% {
    opacity: 0;
    right: 0;
  }

  50% {
    opacity: 0;
    right: 50px;
  }
  75% {
    opacity: 0;
    right: 100px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
.about-txt {
  display: flex;
  gap: 3px;
  flex-direction: column;
}
.about-txt h2 {
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.about-txt .gold-tastique {
  color: gold;
}

.about-tastique p {
  color: rgb(227, 221, 221);
  font-size: 18px;
  line-height: 30px;
}

.our-purpose {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  animation-name: ourPurpose;
  animation-duration: 1.2s;
  position: relative;
  overflow: hidden;
}

@keyframes ourPurpose {
  0% {
    opacity: 0;
    left: 0;
  }

  50% {
    opacity: 0;
    left: 50px;
  }
  75% {
    opacity: 0;
    left: 100px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.our-purpose img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.our-purpose img:hover {
  transform: scale(1.1);
}
.purpose-txt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.purpose-txt h2 {
  color: white;
  font-size: 28px;
}

.purpose-txt p {
  color: rgb(169, 168, 168);
  font-size: 18px;
  line-height: 25px;
}

.cul-excelence {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cul-excelence h2 {
  color: white;
  font-size: 28px;
}
.cul-excelence p {
  color: rgb(169, 168, 168);
  font-size: 18px;
  line-height: 25px;
}

/* screen size */
@media (max-width: 600px) {
  .about {
    background-color: rgb(40, 40, 40);
    height: 150vh;
    width: 100%;
    display: block;
  }

  .about-tastique {
    width: 100%;
  }

  .our-purpose {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .purpose-txt {
    padding: 10px 30px;
  }
  .cul-excelence {
    padding: 10px 30px;
  }
}

/* menu */
.menu {
  width: 100%;
  height: 100vh;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.menu a {
  text-decoration: none;
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1px;
}

.our-menu {
  color: rgb(213, 182, 4);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.recipes h2 {
  font-size: 40px;
  font-family: serif;
}
.creation {
  color: rgb(149, 148, 148);
  padding-bottom: 40px;
}

.img-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 1px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card .recipe-img {
  width: 100%;
  height: 60%;
  overflow: hidden;
  position: relative;
}

.recipe-img .linear {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: none;
}

.recipe-img h3 {
  position: absolute;
  bottom: 20px;
  color: white;
  cursor: pointer;
  left: 20px;
  font-size: 15px;
  display: none;
}

.card .recipe-img img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  z-index: 0;
}

.card .recipe-name {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 15px;
  width: 100%;
}
.card .recipe-name h2 {
  transition: color 0.3s ease;
  color: black;
}
.card .recipe-name p {
  color: rgb(79, 78, 78);
  line-height: 18px;
  font-size: 10px;
}

/* hover effects */
.card:hover .recipe-name h2 {
  color: rgb(158, 134, 3);
}

.card:hover .recipe-img img {
  transform: scale(1.2);
}
.card:hover .recipe-name {
  border-left: 2px solid rgb(158, 134, 3);
}
.card:hover .recipe-img .linear {
  display: block;
  z-index: 1;
}

.card:hover .recipe-img h3 {
  display: flex;
  z-index: 2;
}

@media (max-width: 1150px) {
  .menu {
    height: 150vh;
  }
}
@media (max-width: 1150px) {
  .menu {
    height: 180vh;
  }
}
@media (max-width: 800px) {
  .menu {
    height: 200vh;
  }
}
@media (max-width: 700px) {
  .menu {
    height: 250vh;
  }
}

/* contact */
.contact {
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 690px) {
  .contact {
    height: 200vh;
  }
}

.contact-banner {
  width: 100%;
  height: 100vh;
  background-image: url(./img/contact_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-card {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  width: 70%;
}

.contact-card h2 {
  color: rgb(149, 127, 4);
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-text h4 {
  color: rgb(158, 134, 3);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact-caps {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.contact-caps h2 {
  font-size: 43px;
}
.contact-hl {
  color: rgb(178, 175, 175);
  font-style: italic;
}

.contact-form {
  background-color: rgb(241, 241, 241);
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* contact form  */
.contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}

form .fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

/* input name */
.name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name label {
  font-size: 18px;
  color: rgb(116, 116, 116);
  font-weight: bold;
  text-transform: uppercase;
}

.name input {
  border-bottom: 1px solid rgb(182, 182, 182);
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 10px;
  background-color: transparent;
}

/* input email */
.email {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email label {
  font-size: 18px;
  color: rgb(116, 116, 116);
  font-weight: bold;
  text-transform: uppercase;
}

.email input {
  border-bottom: 1px solid rgb(182, 182, 182);
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 10px;
  background-color: transparent;
}

/* input message */
.message {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message label {
  font-size: 18px;
  color: rgb(116, 116, 116);
  font-weight: bold;
  text-transform: uppercase;
}

.message input {
  border-bottom: 1px solid rgb(182, 182, 182);
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 10px;
  background-color: transparent;
}

.submit-btn {
  width: 30%;
}

.submit-btn button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  transition: 0.3s ease-in;
}

.submit-btn button:hover {
  background-color: rgb(61, 53, 3);
}

/* footer */

footer {
  width: 100%;
  background-color: rgb(15, 8, 27);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.web-name {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 300px;
}

.web-name p {
  color: white;
}

.tastique-logo {
  display: flex;
  align-items: center;
}

.tastique-logo img {
  width: 50px;
  height: 50px;
}

.tastique-logo h2 {
  color: white;
}

.inquiries {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inquiries h2 {
  font-size: 30px;
  color: white;
}

.inq {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.inq p {
  color: white;
}

.developer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.developer h2{
   font-size: 30px;
  color: white;
}

.developer h3{
   font-size: 15px;
  color: white;
}


/* scroll-animation */
.fade{
  animation-name: fade;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fade {
    from{
      opacity: 0;
      transform: scale(0.7);
    }
    to{
      opacity: 1;
      transform: scale(1);
    }
}

